/* =========================================
   VARIABLES
========================================= */
:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;

    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;

    --max-width: 840px;
    --spacing: 16px;
}

/* =========================================
   RESET
========================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================================
   BASE STYLES
========================================= */
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* =========================================
   LAYOUT
========================================= */
header,
main,
footer {
    max-width: var(--max-width);
    margin: 0 auto;
}

nav,
p,
section,
article {
    margin: var(--spacing);
    padding: 8px;
}

/* =========================================
   NAV SECTION
========================================= */
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header img {
    margin: 0 0.25rem 0 1rem;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: var(--accent1-color);
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover {
    color: var(--accent2-color);
    text-decoration: underline;
}

/* =========================================
   HERO SECTION
========================================= */
.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;

    padding: var(--spacing);

    text-align: center;

    background-color: var(--accent1-color);
    color: var(--secondary-color);

    opacity: 0.8;
}

.hero article {
    position: absolute;
    top: 70%;

    background-color: var(--accent1-color);
    color: var(--accent2-color);

    opacity: 0.7;
}

.hero article img {
    float: right;
    width: 125px;
}

/* =========================================
   MAIN
========================================= */
h1 {
    text-align: center;
}

/* ============================================================================================
        ABOUT US PAGE
============================================================================================== */

/* =========================================
   HISTORY SECTION
========================================= */

.history {
    margin: 2rem 0;
}

.history h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1.5rem;
}

.history-content img {
    width: 220px;
    border-radius: 6px;
}

/* =========================================
   ADVENTURE SECTION
========================================= */

.adventure {
    margin: 2rem 0;
}

.adventure h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.adventure-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    text-align: center;
}

.adventure-content figure {
    margin: 0;
}

.adventure-content img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}

.adventure-content figcaption {
    margin-top: 0.5rem;
    font-size: 0.95rem;
    color: var(--accent1-color);
}

/* ============================================================================================
        CONTACT US PAGE
============================================================================================== */
.company-info {
    text-align: center;
    margin-bottom: 2rem;
}

.company-info p {
    margin: 0;
    padding: 0;
}

/* =========================================
    CONTACT CONTAINER
========================================= */
.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
}

/* map */
.map-div iframe {
    width: 100%;
    height: 100%;
    min-height: 450px;
    border: 0;
}

/* form */
form {
    display: grid;
    gap: 1rem;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-item-stacked {
    display: grid;
    gap: 0.5rem;
}

textarea {
    width: 100%;
}

input,
textarea {
    padding: .5rem;
    font: inherit;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: .5rem;
}

button {
    width: 220px;
    justify-self: center;
    padding: 0.75rem;
}

/* =========================================
    EMPLOYEE CONTAINER
========================================= */
.employee-container {
    border: 1px solid black;
    background-color: rgb(247, 246, 246);
    padding: 1rem;
}

.employee-container h2 {
    text-align: center;
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.employees figure {
    text-align: center;
    margin: 0;
}

.employees img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
}

/* =========================================
   SOCIAL MEDIA
========================================= */
.socialmedia {
    display: flex;
    gap: 10px;
    align-items: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 25px;
}

/* =========================================
   FOOTER
========================================= */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}