@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
--heading-font: "Rock Salt";
--paragraph-font: Roboto, Helvetica, sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    color: black;
    background-color: white;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center; 
}

.button-box{
    text-align: center; 
}

#background {
    background-color: antiquewhite;
    height: 725px;
    margin-bottom: 100px;
}

.mountains {
    margin-bottom: 200px;
}

body {
    background-color: #fcfbfb; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003049;
}

.home-title{
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h4 {

}

.book {
    text-align: center; 
    color: black;
    background-color: #fcbf49;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join {
    text-align: center; 
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #f77f00;
    color: black;
}

.join:hover {
    color: #fcbf49;
}

.msg {
    text-align: center;
    background-color: #003049;
    color: white;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    text-align: center; 
    color: #fcbf49;
    font-family: var(--heading-font);
    
}

.msg p {
    font-size: .8em;
    /* font-family: var(--paragraph-font); */
    padding-bottom: 15px;
}

footer h3 {
    color: white;
}

footer h3 a:hover {
    color: #fcbf49;
}

footer {
    background-color: #003049;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    text-size-adjust: 1.2em;
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p a:hover {
    color: grey;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.logo {
    width: 80px;
}

.home-grid {
    text-align: center;
}
.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

#logo_link {
    padding-top: 5px;
}

.rivers-cards, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #003049;
}

main section img {
    box-sizing: border-box;
}


